@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$main-color: #1C263A;
$accent-color: #2F3B53;
$body-bg: $main-color;

$body-color: white;
$enable-shadows: true;

$card-bg: $accent-color;

@import "../bootstrap/scss/bootstrap";

.bg-accent {
	background-color: $accent-color;
}

.shadow-nav {
	box-shadow: 0px 5px 14px -5px #0F0F0F;
}

.shadow-cards {
	box-shadow: 0px 5px 10px -5px #0F0F0F;
}